# tuples
tuple is a collection which is ordered and unchangeable.
1.You can not add items in a tuple.
2.You can not remove items in a tuple.

In [19]:
t=() # empty tuple
t

()

In [20]:
t=(1,) #single element tuple
t

(1,)

In [21]:
type(t)

tuple

In [22]:
t=(1)
type(t)

int

In [23]:
t=(1,"Adi",1998)
t

(1, 'Adi', 1998)

In [24]:
t[0:2]

(1, 'Adi')

In [25]:
len(t)

3

In [26]:
t=(1,2,3,4,5)
max(t) #min(t)

5

### convert a list into tuple

In [27]:
l=[1,2,3,4,5]
type(l)

list

In [28]:
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [29]:
type(t)

tuple

### joining of tuples

In [30]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6)

### count the occurence of an element

In [32]:
t4=(1,2,3,5,7,8,9,1,1,1)
t4.count(1)

4

### print index of element

In [33]:
t4.index(6)

7